:root {
  --parkrun-colour: #ffa300;
  --my-primary-colour: #468189;
  --my-accent-colour: #8a0000;
  --my-dark-colour: #333333;
  --my-grey-colour: #a9b1b3;
  --my-white-colour: #fdfdfd;
  --headings-font: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  --body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

body {
  background-color: var(--my-white-colour);
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
