@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-parkrun: #ffa300;
  --color-primary: #468189;
  --color-accent: #8a0000;
  --color-dark: #333333;
  --color-grey: #a9b1b3;
  --color-white: #fdfdfd;
  --headings-font: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  --body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

body {
  background-color: var(--color-white);
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
